<h3>Visitors index project1</h3>

<h1>All users</h1>

<ul>
  <% @visitors.each do |visitor| %>
  <li>
     <div style="float: left"> <%= link_to visitor.name, visitor %> &nbsp; &nbsp; </div>  
     <div> <%= button_to "delete", visitor, :method=>:delete, :class=>:destroy %>    </div>
  </li>
  <% end %>
</ul>