<% provide(:title, @visitor.name) %>
<h3>Visitor show project1</h3>
<div>
<label>Name: <%= @visitor.name %></label><br/>
<label>E-Mail: <%= @visitor.email %></label><br/>
<label>Password_Digest: <%= @visitor.password_digest %></label><br/>
</div>